.wood{
 
    padding-bottom: 1%;
    border-bottom: 1px solid #D6D6EB;
    display: inline;
    margin-right:2px;
}
.stone{
    position:inline;
    position: absolute;
    border-bottom: 1px solid #D6D6EB;
    display: incline;

   padding-top:1%; 
}
.tools{
    
}
